{% extends "base.html" %}
{% block content %}
  <div class="page-section pt-5" style="margin-bottom: 20px;padding-bottom:0px;;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <nav aria-label="Breadcrumb">
            <ol class="breadcrumb bg-transparent py-0">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/funding">임원 현황</a></li>            
            </ol>
          </nav>
        </div>
      </div> <!-- .row -->     
    </div> <!-- .container -->
  </div> <!-- .page-section -->
  <div class="page-section" style="margin-top:0px;padding-top: 0px;">
    <img src="/static/img/hero_sub.png" class="w-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <th colspan="4" style="text-align: center; font-size: 18px; font-weight: bold;padding: 20px;font-size: 25px;;">임원 현황</th>
            </thead>
            <thead>
              <th style="font-size: 20px;;">직위</th>
              <th style="font-size: 20px;;">성명</th>
              <th style="font-size: 20px;;">임기</th>
              <th style="font-size: 20px;;">주소</th>
            </thead>
            <tbody>
              <tr>
                <td>이사장</td>
                <td>김명옥</td>
                <td>2021.4.19~2025.4.18</td>
                <td>부산시 중구 구덕로 34번길 3</td>
              </tr>
              <tr>
                <td>이사</td>
                <td>성봉경</td>
                <td>2021.4.19~2025.4.18</td>
                <td>서울시 강남구 학동로 401, 4층  법무법인 (유한) 정률</td>
              </tr>
              <tr>
                <td>이사</td>
                <td>남원준</td>
                <td>2021.4. 8~2025.4. 7 </td>
                <td>서울시 강남구 도곡로 28길 8, 도곡 1차 아이파크 104-903</td>
              </tr>
              <tr>
                <td>이사</td> 
                <td>주현기</td>
                <td>2021.4. 8~2025.4. 7</td>
                <td>서울시 송파구 중대로 24, 올림픽훼밀리타운 222-1304</td>
              </tr>
              <tr>
                <td>이사</td>
                <td>박광훈</td>
                <td>2021.4. 8~2025.4 .7 </td>
                <td>서울시 강남구 삼성로 150, 한보미도맨션 207-405</td>
              </tr>
              <tr>
                <td>이사</td>
                <td>강동규</td>
                <td>2019.5. 4~2023.5. 3</td>
                <td>부산시 연제구 법원로 18, 세종빌딩 3층 법무법인 신성</td>
              </tr>
              <tr>
                <td>이사</td>
                <td>박준석</td>
                <td>2019.5. 4~2023.5. 3</td>
                <td>부산시 연제구 법원남로 16, 협성법조빌딩 201호</td>
              </tr>
              <tr>
                <td>이사</td>
                <td>박성해</td>
                <td>2021.4.19~2025.4.18</td>
                <td>부산시 서구 대티로 159, 협성르네상스 104-903</td>
              </tr>
              <tr>
                <td>이사</td>
                <td>이현석</td>
                <td>2021.4. 8~2025.4. 7</td>
                <td>부산시 해운대구 해운대해변로 117, 대우마리나 1차 106-1501</td>
              </tr>
              <tr>
                <td>이사</td>
                <td>오은환</td>
                <td>2021.4. 8~2025.4. 7</td>
                <td>부산시 중구 동영로 26</td>
              </tr>
              <tr>
                <td>감사</td>
                <td>최문간</td>
                <td>2021.5.13~2023.5.12</td>
                <td>부산시 부산진구 당감로 109번길38, 협성피닉스타운 101-702</td>
              </tr>
              <tr>
                <td>감사</td>
                <td>박은숙</td>
                <td>2021.5.13~2023.5.12</td>
                <td>부산시 부산진구 연수로 57, 양정센텀 504</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 <style>
  th,td{
    padding: 10px;
    text-align: center;
  }
</style>
{% endblock %}