{% extends "base.html" %}
{% block content %}
  <div class="page-section pt-5" style="margin-bottom: 20px;padding-bottom:0px;;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <nav aria-label="Breadcrumb">
            <ol class="breadcrumb bg-transparent py-0">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="/current">장학금 지급 현황</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .page-section -->
  <div class="page-section" style="margin-top:0px;padding-top: 0px;">

    <table class="table" style="width: 1000px; margin: 20px auto">
      <thead>
        <tr>
          <th>년도</th>
          <th>학생</th>
          <th>지급</th>
        </tr>
      </thead>
      <tr>
        <td>제 1회(2006년)</td>
        <td>장학생 30명</td>
        <td>장학금 30,000,000원 지급</td>
      </tr>
      <tr>
        <td>제 2회(2007년)</td>
        <td>장학생 36명</td>
        <td>장학금 36,000,000원 지급</td>
      </tr>
      <tr>
        <td>제 3회(2008년)</td>
        <td>장학생 45명</td>
        <td>장학금 45,000,000원 지급</td>
      </tr>
      <tr>
        <td>제 4회(2009년)</td>
        <td>장학생 51명</td>
        <td>장학금 51,000,000원 지급</td>
      </tr>
      <tr>
        <td>제 5회(2010년)</td>
        <td>장학생 50명</td>
        <td>장학금 50,000,000원 지급</td>
      </tr>
      <tr>
        <td>제 6회(2011년)</td>
        <td>장학생 50명</td>
        <td>장학금 55,000,000원 지급<br>
          고등학생 45명 : 45,000,000원<br>
          대학생 5명 : 10,000,000원
        </td>
      </tr>
      <tr>
        <td>제 7회(2012년)</td>
        <td>장학생 50명</td>
        <td>장학금 60,000,000원 지급<br>
          고등학생 40명 : 40,000,000원<br>
          대학생 10명 : 20,000,000원
        </td>
      </tr>
      <tr>
        <td>제 8회(2013년)</td>
        <td>장학생 50명</td>
        <td>장학금 60,000,000원 지급<br>
          고등학생 40명 : 40,000,000원<br>
          대학생 10명 : 20,000,000원
        </td>
      </tr>
      <tr>
        <td>제 9회(2014년)</td>
        <td>장학생 55명</td>
        <td>장학금 70,000,000원 지급<br>
          고등학생 40명 : 40,000,000원<br>
          대학생 15명 : 30,000,000원
        </td>
      </tr>
      <tr>
        <td>제 10회(2015년)</td>
        <td>장학생 49명</td>
        <td>장학금 62,000,000원 지급<br>
          고등학생 36명 : 36,000,000원<br>
          대학생 13명 : 26,000,000원
        </td>
      </tr>
      <tr>
        <td>제 11회(2016년)</td>
        <td>장학생 47명</td>
        <td>장학금 67,000,000원 지급<br>
          고등학생 27명 : 27,000,000원<br>
          대학생 20명 : 40,000,000원
        </td>
      </tr>
      <tr>
        <td>제 12회(2017년)</td>
        <td>장학생 40명</td>
        <td>장학금 60,000,000원 지급<br>
          고등학생 20명 : 20,000,000원<br>
          대학생 20명 : 40,000,000원
        </td>
      </tr>
      <tr>
        <td>제 13회(2018년)</td>
        <td>장학생 42명</td>
        <td>장학금 66,000,000원 지급<br>
          고등학생 18명 : 18,000,000원<br>
          대학생 24명 : 48,000,000원
        </td>
      </tr>
      <tr>
        <td>제 14회(2019년)</td>
        <td>장학생 34명</td>
        <td>장학금 60,000,000원 지급<br>
          고등학생 8명 : 8,000,000원<br>
          대학생 26명 : 52,000,000원
        </td>
      </tr>
      <tr>
        <td>제 15회(2020년)</td>
        <td>장학생 26명</td>
        <td>장학금 52,000,000원 지급<br>
          대학생 26명 : 52,000,000원
        </td>
      </tr>
      <tr>
        <td>제 16회(2021년)</td>
        <td>장학생 28명</td>
        <td>장학금 56,000,000원 지급<br>
          대학생 28명 : 56,000,000원
        </td>
      </tr>
      <tr>
        <td>제 17회(2022년)</td>
        <td>장학생 26명</td>
        <td>장학금 52,000,000원 지급<br>
          대학생 26명 : 52,000,000원
        </td>
      </tr>
    </table>

  </div>
  <style>
    td:nth-child(1) {
      font-weight: bold;
    }

    td,
    th {
      text-align: center;
    }

    td {
      height: 97px;
      vertical-align: middle !important;
    }
  </style>
{% endblock %}