{% extends "base.html" %}
{% block content %}
  <div class="bg-light">
      <div class="page-section" style="margin-top:0px;padding-top: 0px;">
       
          <div class="container">
            <div class="row">
            <div class="col-6" style=";padding-top: 90px; word-break: keep-all; ">
              <h1>-설립취지 및 인사말-</h1>
              <br><br>
              <div style="font-size: 20px;line-height: 2;">
              대동장학재단 홈페이지를 방문해 주셔서 감사드립니다.<br>
              대동장학재단은 김명옥 이사장의  2005년 10억원(₩1,000,000,000) 출연으로 설립되었으며 김 이사장은 경제적으로 어려운  우수한 학생들에게 장학금을 지급함으로 학업에 대한 꿈을 이룰 수 있게 하고 나아가서는 건강한 나눔의 문화를 확산하려는 취지에서 장학재단을 설립하였습니다.
              
              대동장학재단은 부산시 소재 고등학교 재학생들에 대한 장학금 지급을 시작으로 매년 장학생 수를 늘려 왔으며 2011년에는 십이억 칠천만 원(₩1,270,000,000)으로 기금을 늘려 서울시 강남구 소재 건물에서 나오는 임대수익으로 장학금을 지급하고 있습니다. 재단은 지급대상을 대학생으로 확대하여 2006년부터 2020년까지의 15회 동안 총 655명에게 팔억이천사백만원(₩824,000,000)의 장학금을 지급하였습니다. 대동장학재단은 현재 부산시 소재 대학교의 총장추천을 받은 학생 중 엄정한 서류심사와 면접을 통해 장학생을 선발하고 있습니다.
              
              대동장학재단은 앞으로도 더 많은 학생들에게 도움을 주기 위해 노력할 것이며 여러분의 많은 관심과 사랑을 기원합니다. 
              </div>
              

            </div>
            <div class="col-6">
              <img src="/static/img/repre_main.png" style="    margin-top: 354px; width: 70%;  margin-left: 56px;">
            </div>
          </div>
        </div>

      </div>
  </div> <!-- .bg-light -->
  
  </div>

<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/owl-carousel/js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/wow/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>

  <style>
    .col-4{
      overflow: hidden;
    }
    .col-4 .cover{
      transition: all 0.5s;
      width: 350px;;
      height: 280px;;
      color: #fff;
      background-color: rgba(0,0,0,0.5);
      /* bottom: 0px */
    }
    .col-4:hover .cover{
      transform: translateY(-280px);
      /* top: 0px */
    }
    .cover .title{
      font-size: 18px;;
      font-weight: bold;
      padding: 10px;
      border-bottom: 1px solid #fff;
    }
    .title{
      display: flex;
      justify-content: space-between;
    }
    .title .title_badge{
      padding: 5px 16px;
      border:1px solid #fff;
      border-radius: 20px;;
      font-size: 14px;
      font-weight: normal;
    }
    .cover .text{
      padding: 10px;
    }
    .video-container {
      position: relative;
      padding-bottom: 56%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
    }
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>
    {% endblock %}