{% extends "base.html" %}
{% block content %}
  <div class="page-section pt-5" style="margin-bottom: 20px;padding-bottom:0px;;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <nav aria-label="Breadcrumb">
            <ol class="breadcrumb bg-transparent py-0">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/gallery">갤러리</a></li>            
            </ol>
          </nav>
        </div>
      </div> <!-- .row -->     
    </div> <!-- .container -->
  </div> <!-- .page-section -->
  <div class="page-section" style="margin-top:0px;padding-top: 0px;">
  
    <div class="container" style="">
      <div class="row" style="justify-content: center;">
        <div class="col-10">
          <img src="/static/img/gallery_1.png" class="w-100" style="margin-top:10px;">
        </div>
        <div class="col-10">
          <img src="/static/img/gallery_2.png" class="w-100" style="margin-top:10px;">
        </div>
        <div class="col-10">
          <img src="/static/img/gallery_3.png" class="w-100" style="margin-top:10px;">
        </div>
      </div>
    </div>

  </div>

<style>
  td:nth-child(1){
    font-weight: bold;
  }
  th,td{
   text-align: center;;;
  }
  td{
    height: 97px;
    vertical-align: middle!important;
  }
</style>
{% endblock %}