{% extends "base.html" %}
{% block content %}

<div class="page-section pt-5" style="margin-bottom: 20px;padding-bottom:0px;;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb bg-transparent py-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/mission">미션</a></li>            
          </ol>
        </nav>
      </div>
    </div> <!-- .row -->     
  </div> <!-- .container -->
</div> <!-- .page-section -->
  <div class="page-section" style="margin-top:0px;padding-top: 0px;">
    <img src="/static/img/hero_sub.png" class="w-100">
    <div class="container" style="margin-top: 80px;">

      <div class="row" style="text-align:center;    justify-content: center;">
         <span style="font-size: 24px; font-weight:bold">미션 : 지역사회의 우수한 청소년을 발굴해서 미래사회의 리더로 육성하고 건강한 나눔의 문화를 확산</span>
            <img src="{{ url_for('static', filename='img/gallery_0.png') }}" style="width:70%;margin-top: 30px;" >        
      </div>
    </div>

  </div>
 
<style>
  td:nth-child(1){
    font-weight: bold;
  }
  th,td{
   text-align: center;;;
  }
  td{
    height: 97px;
    vertical-align: middle!important;
  }
</style>
{% endblock %}