{% extends "base.html" %}
{% block content %}

  <div class="page-section pt-5" style="margin-bottom: 20px;padding-bottom:0px;;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <nav aria-label="Breadcrumb">
            <ol class="breadcrumb bg-transparent py-0">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="/funding">기부금 활용 및 결산 내역</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .page-section -->
  <div class="page-section" style="margin-top:0px;padding-top: 0px;">

    <div class="container" style="margin-top: 80px;">
      <div class="row">
        <div class="col-4" style="text-align:center">
          <h5>
            2023년<br> 공익법인 결산서류</h5>
          <img onclick="window.open('/static/img/2024_01.pdf')" src="/static/img/2024_01.jpg" class="w-100" style="cursor:pointer">
        </div>
        <div class="col-4" style="text-align:center">
          <h5>
            2023년 연간 기부금 모금액<br>
            및 활용실적 명세서</h5>
          <img onclick="window.open('/static/img/2023.pdf')" src="/static/img/2023.png" class="w-100" style="cursor:pointer">
        </div>
        <div class="col-4" style="text-align:center">
          <h5>
            2022년<br> 공익법인 결산서류</h5>
          <img onclick="window.open('/static/img/2022_plus.pdf')" src="/static/img/2022_plus.png" class="w-100" style="cursor:pointer">
        </div>
        <div class="col-4" style="text-align:center">
          <h5>
            2022년 연간 기부금 모금액<br>
            및 활용실적 명세서</h5>
          <img onclick="window.open('/static/img/2022.pdf')" src="/static/img/2022.png" class="w-100" style="cursor:pointer">
        </div>
        <div class="col-4" style="text-align:center">
          <h5>
            2021년 연간 기부금 모금액<br>
            및 활용실적 명세서</h5>
          <img onclick="window.open('/static/img/2021.pdf')" src="/static/img/2021.png" class="w-100" style="cursor:pointer">
        </div>
        <div class="col-4" style="text-align:center">
          <h5>
            2020년 연간 기부금 모금액<br>
            및 활용실적 명세서</h5>
          <img onclick="window.open('/static/img/2020.pdf')" src="/static/img/2020.png" class="w-100" style="cursor:pointer">
        </div>
        <div class="col-4" style="text-align:center">
          <h5>
            2019년 연간 기부금 모금액<br>
            및 활용실적 명세서</h5>
          <img onclick="window.open('/static/img/2020.pdf')" src="/static/img/2019.png" class="w-100" style="cursor:pointer">
        </div>
        <div class="col-4" style="text-align:center">
          <h5>
            2018년 연간 기부금 모금액<br>
            및 활용실적 명세서</h5>
          <img onclick="window.open('/static/img/2020.pdf')" src="/static/img/2018.png" class="w-100" style="cursor:pointer">
        </div>
      </div>
    </div>

  </div>

</body>
<style>
  td:nth-child(1) {
    font-weight: bold;
  }

  td,
  th {
    text-align: center;
  }

  td {
    height: 97px;
    vertical-align: middle !important;
  }
</style>
{% endblock %}